<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form method="POST" action="">
      {% csrf_token %}
      <p>{{ form.username.label }}</p>
      <p>{{ form.username }}</p>
      <p>{{ form.password1.label }}</p>
      <p>{{ form.password1 }}</p>
      <p>{{ form.password2.label }}</p>
      <p>{{ form.password2 }}</p>
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
