{% extends 'base.html' %} {% block content %}
<div class="container">
  <h3 style="text-align: center;">Login</h3>
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{form.username.id_for_label}}">
        Username :
      </label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="id_username"
        placeholder="username"
      />
      {% if form.errors.username %}
      <small>{{form.errors.username}}</small>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{form.password.id_for_label}}">
        Password :
      </label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="id_password"
        placeholder="password"
      />
      {% if form.errors.password %}
      <small>{{form.errors.password}}</small>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

{% endblock %}
