{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-2 column-layout">
      <div class="profile-photo-style"></div>
      <div class="address-info-layout">
        <p>Name: Jagdamba Store</p>
        <p>Address: Kothrud, Pune</p>
      </div>
    </div>
    <div class="col-6 column-two-layout">
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ product_form.information }}
        </div>
        <div class="form-group">
          {{ product_form.product_image1 }}
        </div>
        <div class="form-group">
          {{ product_form.product_image2 }}
        </div>
        <div class="form-group">
          {{ product_form.product_image3 }}
        </div>
        <div class="form-group">
          {{ product_form.product_image4 }}
        </div>
        <button
          type="submit"
          style="padding: 10px; margin: 0px; border-radius: 10px;
            background-color:blueviolet; color: white; font-weight: 900;"
        >
          Post
        </button>
      </form>

      <div class="column-layout">
        <h1>Hello post here</h1>
      </div>
    </div>
    <div class="col column-layout">
      <div>
        <form>
          <input type="text" placeholder="search" />
          <input type="submit" value="search" />
        </form>
      </div>
      <div
        class="column-layout"
        style="background-color: royalblue;height: 100px;"
      >
        <span style="background-color: brown;">Adds</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
